:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;


  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #dfc415;
  text-decoration: none;
}


a:hover {
  color: #c5f100;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(239, 239, 243, 0.87);
  background-color: darkred;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* regole header */
header {
  display: flex;
  justify-content: space-around;
  background-image: url(https://img.freepik.com/foto-gratuito/collage-di-sfondo-del-film_23-2149876011.jpg?t=st=1740739109~exp=1740742709~hmac=dece9f3c7a10e546ba54507601f34d2db56ac0cb63961f16cb176d1a7869f95f&w=1380);
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

header h2 {
  margin-top: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

}

.logo {
  /* width: 300px; */
  font-size: 75px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

}

.searchbar {
  margin-top: 35px;
}

.input {
  background-color: rgb(233, 235, 229);
  height: 32px;
  width: 220px;
  margin-right: 15px;
  border-radius: 10px;
  color: black;
}

.resultsh2 {
  margin-top: 60px;
}

/* regole contenitore card */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;

}

/* regole card */
.movie-card {
  background-size: cover;
  background-position: center;
  height: 420px;
  width: 21%;
  color: yellow;
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}

.standardcard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flagpath {
  width: 30px;
}

/* regole overlay card */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 88%;
  height: 91%;
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  background-size: contain;
  padding: 20px;
  display: none;
  border-radius: 10px;
}

.card-overlay label {
  color: #e7e710;

}

.movie-card:hover .card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


/* regole MovieDetail */

.detailBlockInfo {
  display: flex;
  justify-content: space-evenly;
}


.infofilm {
  width: 60%;
  margin-top: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-height: fit-content;


}

.infofilm p {
  margin-bottom: 28px;

}

.infofilm label {
  color: #c5f100;

}



.movie-detail img {
  height: 600px;
  margin-left: 30px;

}


.prevnext {
  text-align: end;
  margin-right: 30px;
  font-size: 20px;
}

/* regole trama film/serietv */
.overview {
  font-size: 0.7em;
}


/* regole button */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.cercaButton {
  background-color: yellowgreen;
}

button:hover {
  border-color: #00ff08;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Responsivity*/
@media (max-width: 1200px) {
  .movie-card {
    width: 45%;
  }

  .infofilm {
    width: 90%;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .logo {
    font-size: 50px;
    margin: 20px 0;
  }

  .movie-card {
    width: 100%;
  }
}